<div class="login">
  <img [src]="logimg" class="image-login" alt="" />

  <div class="log-sec">
    <img [src]="logo" alt="" />
    <p>LOGIN</p>
    <form>
      <div class="form-label-group">
        <input
          type="email"
          id="inputEmail"
          class="form-control"
          placeholder="Email address"
          required=""
          autofocus=""
        />
      </div>

      <div class="form-label-group">
        <input
          type="password"
          id="inputPassword"
          class="form-control"
          placeholder="Password"
          required=""
        />
      </div>
      <button
        class="btn btn-lg btn-primary btn-block btn-login text-uppercase font-weight-bold mb-4 mt-4 main"
        type="submit"
      >
        <a href="index.html">Sign in</a>
      </button>
    </form>
  </div>
</div>
