<app-header-reuse></app-header-reuse>



<div class="home-info-area">
    
    <div class="hero-section">
        <section class="left-nav">
          <ul class="nav-links">
            <li><a routerLink="">Dashboard</a></li>
            <li><a routerLink="/tag">Tags</a></li>
            <li><a routerLink="/users">Users</a></li>
          </ul>
        </section>
  
  
      </div>

   
  

        
    <section class="right-area">
    <h4>Dashbord</h4>
    <hr />
    <div class="user-items">
    <div class="user-box">
    <p>THOUGTS</p>
    <h3>200000</h3>
    </div>
    
    <div class="user-box">
    <p>TAGS</p>
    <h3>12000</h3>
    </div>
    
    <div class="user-box">
    <p>USERS</p>
    <h3>4000</h3>
    </div>
    </div>
    </section>

</div>




<!-- ------ -->




